<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"/>
    <script src="https://cdn.tailwindcss.com"></script>


    <title> Login page </title>
</head>

<body>
<div class="navbar">
    <div class="navbar-start">
        <a class="navbar-item">BookWave</a>
    </div>
    <div class="navbar-center">
        <a class="navbar-item" th:href="@{/login}">Login</a>
        <a class="navbar-item" th:href="@{/register}">Register</a>
        <a class="navbar-item">About</a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" th:href="@{/}">Home</a>
    </div>
</div>

<div class="flex h-screen">
    <div class="m-auto">
        <form id="loginForm" th:action="@{/login}" method="POST" autocomplete="off">
            <div class="container">
                <div class="flex flex-col justify-center items-center">
                    <label>Username:</label>
                    <label>
                        <input class="input-ghost-primary input" type="text" id="usernameInput" placeholder="Enter Username"
                               name="username"
                               required>
                    </label>
                </div>
                <div class="flex flex-col justify-center items-center">

                    <label>Password:</label>
                    <label>
                        <input class="input-ghost-primary input" type="password" id="passwordInput" placeholder="Enter Password"
                               name="password"
                               required>
                    </label>
                </div>
                <div class="btn btn-primary btn-block flex flex-col justify-center items-center my-4 mx-0">
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/script.js"></script>

</body>
</html>
