<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <link href="../static/css/tailwind.css" th:href="@{../static/css/tailwind.css}"  type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Login error</title>
</head>
<body>

<div class="navbar">
    <div class="navbar-start">
        <a class="navbar-item">BookWave</a>
    </div>
    <div class="navbar-center">
        <a class="navbar-item" th:href="@{/login}">Login</a>
        <a class="navbar-item" th:href="@{/register}">Register</a>
        <a class="navbar-item">About</a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" th:href="@{/static}">Home</a>
    </div>
</div>

<div class="flex h-screen">
    <div class="m-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-header">Your credentials are wrong!</h2>
                <p class="text-content2">If you are new on our page, you can register here!</p>
                <p class="text-content2">If you already have an account, then try to log in again!</p>

                <div class="card-footer">
                    <a class="link link-secondary link-ghost-secondary" th:href="@{/register}"> Register</a>
                    <a class="link link-secondary link-ghost-secondary" th:href="@{/login}"> Login</a>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>