<!DOCTYPE html>
<html class="scroll-smooth" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/tailwind.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"/>

    <title>The Library</title>
</head>
<body>
<div class="navbar  ">
    <div class="navbar-start">
        <a class="navbar-item">BookWave</a>
        <p class="badge badge-outline-success badge-lg">Welcome&nbsp;<span sec:authentication="name"></span>!</p>
    </div>
    <div class="navbar-center">
        <div sec:authorize="isAuthenticated()">
            <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
        <a class="navbar-item" th:href="@{/UserLibrary}">User Library</a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item navbar-active" th:href="@{/}">Home</a>
    </div>
</div>

<div class="flex flex-row flex-wrap">
    <div class="p-6 w-auto" th:each="book : ${books}"
         th:if="${book.getUser().getUserId() == userId}">
        <div class="card ml-10 mt-5 p-6 h-full">
            <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + book.imageBase64}" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.title}">Title</h5>
                <p class="card-text" th:text="${book.description}">Description</p>
                <p class="card-text" th:text="${book.authorName}">Author</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>


</body>
</html>