<!DOCTYPE html>
<html class="scroll-smooth" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/tailwind.css" th:href="@{../static/css/tailwind.css}" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"/>

    <title>Your Library</title>
</head>
<body>
<div class="navbar  ">
    <div class="navbar-start">
        <a class="navbar-item">BookWave</a>
        <p class="badge badge-outline-success badge-lg">Welcome&nbsp;<span sec:authentication="name"></span>!</p>
    </div>
    <div class="navbar-center">
        <div sec:authorize="hasRole('ROLE_USER')">
            <a class="navbar-item" th:href="@{/library}">Library</a>
            <a class="navbar-item navbar-active" th:href="@{/UserLibrary}">User Library</a>
        </div>
        <a class="navbar-item" th:href="@{/}">Home</a>
    </div>
    <div class="navbar-end">
        <div sec:authorize="isAuthenticated()">
            <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle navbar-item">Sign out</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>

<div class="flex flex-row flex-wrap">
    <div class="p-6 w-auto" th:each="book : ${books}"
         th:if="${book.getUser().getUserId() == userId}">
        <div class="card ml-10 mt-5 p-6 h-full relative group">
            <div class="flip-card">
                <!-- Front of the card -->
                <div class="transition-transform duration-500 ease-in-out">
                    <img class="w-96 image-height object-cover mx-auto"
                         th:src="'data:image/jpeg;charset=utf-8;base64,' + ${book.imageBase64}" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title text-2xl font-semibold mb-2" th:text="${book.title}">Title</h5>
                        <p class="card-text text-base text-gray-600" th:text="${book.authorName}">Author</p>
                    </div>
                </div>

                <!-- Back of the card -->
                <div class="card absolute top-0 left-0 w-full h-full text-white opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out card-body text-center flex flex-col">
                    <!-- Only show the description on the back side -->
                    <p class="card-text mb-4 text-lg" th:text="${book.description}"></p>
                    <form th:action="@{/returnBook}" method="post" class="mt-auto">
                        <input type="hidden" name="bookId" th:value="${book.bookId}">
                        <button onclick="returnFunction()" type="submit"
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Return the Book
                            <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>


</body>
</html>